<?xml version="1.0"?>
<!--
/**
* BSS Commerce Co.
*
* NOTICE OF LICENSE
*
* This source file is subject to the EULA
* that is bundled with this package in the file LICENSE.txt.
* It is also available through the world-wide-web at this URL:
* http://bsscommerce.com/Bss-Commerce-License.txt
*
* =================================================================
*                 MAGENTO EDITION USAGE NOTICE
* =================================================================
* This package designed for Magento COMMUNITY edition
* BSS Commerce does not guarantee correct work of this extension
* on any other Magento edition except Magento COMMUNITY edition.
* BSS Commerce does not provide extension support in case of
* incorrect edition usage.
* =================================================================
*
* @category   BSS
* @package    Bss_CustomProductAttributeExport
* @author     Extension Team
* @copyright  Copyright (c) 2015-2016 BSS Commerce Co. ( http://bsscommerce.com )
* @license    http://bsscommerce.com/Bss-Commerce-License.txt
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="bss" translate="label" sortOrder="300">
            <label><![CDATA[Superbazaar Extension]]></label>
        </tab>
        <section id="customproductattributeexport" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
            <label>Product Attribute Export</label>
            <tab>bss</tab>
            <resource>Bss_CustomProductAttributeExport::config_bss_customproductattributeexport</resource>
            <group id="configuration" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>Configuration</label>
                <field id="enable" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
                    <label>Enable Module</label>
                    <comment/>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="allowedattribute" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="multiselect">
                    <label>Allowed Atrributes</label>
                    <comment>Please select attributes which you want to have columns while exporting catalog products.</comment>
                    <source_model>Bss\CustomProductAttributeExport\Model\Config\Source\Allowedattribute</source_model>
                </field>
            </group>
        </section>
        <section id="productexpire" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
            <label>Product Previous Order Expiring</label>
            <tab>bss</tab>
            <resource>Bss_CustomProductAttributeExport::config_bss_customproductattributeexport</resource>
            <group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>Configuration</label>
                <field id="afterdays" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
                    <label>Email send when products are expiring in next (n) days</label>
                </field>
                <field id="sender_email" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="select">
                    <label>Email Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                </field>
                <field id="select_email" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label" type="textarea">
                    <label>Email Send To</label>
                    <comment>Enter coma seperator email ids</comment>
               </field>
                <field id="send_email" translate="label" type="button" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Send Email Report</label>
                    <frontend_model>Superbazaar\General\Block\System\Config\Button</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
